# Debug
vgcore.*
callgrind*
intel/
tests/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

Lab_1/build/
Lab_1/build/*
Lab_2/build/
Lab_2/build/*
Lab_3/build/
Lab_3/build/*

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
